@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  color: #1d1e25;
  position: relative;
  min-height: 100vh;
  background: url("/images/bg-tablet-pattern.svg") 2500% -2%/99% no-repeat, url("/images/bg-tablet-pattern.svg") 600% 15%/90% no-repeat, #fff;
  overflow-x: hidden; }
  @media (min-width: 900px) {
    body {
      background: url("/images/bg-tablet-pattern.svg") 106% -4%/47% no-repeat, url("/images/bg-tablet-pattern.svg") -40% 48%/43% no-repeat, #fff;
      overflow-x: hidden; } }

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden; }

.header {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 900px) {
    .header {
      width: 100%;
      margin: auto;
      padding: 3rem 0; } }
  .header__logo {
    width: 13rem; }
    @media (min-width: 900px) {
      .header__logo {
        margin-right: 4rem; } }
  .header__button {
    display: none; }
    @media (min-width: 900px) {
      .header__button {
        display: block; } }
  .header__menu {
    font-size: 1.9rem;
    display: none; }
    @media (min-width: 900px) {
      .header__menu {
        display: flex;
        margin-right: auto; } }
    .header__menu__menu-item {
      list-style: none;
      padding-bottom: 3rem;
      padding-top: 3rem;
      border: 3px solid transparent; }
      @media (min-width: 900px) {
        .header__menu__menu-item {
          align-self: stretch; } }
      .header__menu__menu-item:not(:last-child) {
        margin-right: 4rem; }
      @media (min-width: 900px) {
        .header__menu__menu-item {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          color: #48556a; }
          .header__menu__menu-item:not(:last-child) {
            margin-right: 3rem; }
          .header__menu__menu-item:hover {
            color: black; } }
      @media (min-width: 1200px) {
        .header__menu__menu-item:not(:last-child) {
          margin-right: 6rem; } }

.header-button {
  background-color: #f25f3a;
  color: white;
  border: none;
  padding: 1.2rem 2rem;
  text-transform: capitalize;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  box-shadow: 0 15px 6px -8px rgba(242, 95, 58, 0.3); }
  .header-button:hover {
    opacity: 0.5; }

.nav-links-container {
  display: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*pointer-events: none;*/ }
  @media (min-width: 900px) {
    .nav-links-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background: none;
      position: unset;
      height: unset; } }

ul.nav-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 1.2rem;
  border-radius: 5px; }
  @media (min-width: 900px) {
    ul.nav-links {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      background-color: transparent;
      position: unset;
      width: 100%;
      top: unset;
      left: unset;
      transform: translateX(0%);
      padding: 0; } }

ul.nav-links li {
  padding: 0.8rem 0; }

.nav-item {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize; }
  @media screen and (min-width: 1050px) {
    .nav-item {
      margin-right: 2.5rem;
      transition: all 0.3s;
      padding: 0; } }

.nav-container {
  display: none; }

.show-mobile-nav {
  display: block; }

.show {
  display: block; }

.nav-container {
  color: white;
  position: absolute;
  top: 12%;
  width: 80%;
  left: 10%;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 3.7rem 3rem;
  background-color: #1d1e25;
  z-index: 1010; }

.no-scroll {
  height: 100vh;
  overflow: hidden; }

.elevate-element {
  z-index: 999; }

@media screen and (min-width: 1050px) {
  .mobile-nav {
    display: none; } }

.hero {
  margin-bottom: 10rem;
  overflow-x: hidden; }
  @media (min-width: 900px) {
    .hero {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
      width: 100%;
      margin-bottom: 12rem; } }

.hero img {
  margin-bottom: 3rem;
  width: 92%; }
  @media (min-width: 900px) {
    .hero img {
      width: 100%; } }

@media (min-width: 900px) {
  .image-container {
    order: 1;
    flex: 47%; } }

@media (min-width: 900px) {
  .second-container {
    flex: 47%; } }

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 900px) {
    .text-container {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 53%; } }

.hero h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.3; }
  @media (min-width: 900px) {
    .hero h2 {
      font-size: 6rem;
      text-align: left;
      margin-bottom: 0; } }

.hero p {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.3rem;
  color: #48556a;
  width: 80%; }
  @media (min-width: 900px) {
    .hero p {
      font-size: 2.3rem;
      text-align: left;
      width: 80%; } }

.hero button {
  font-size: 2rem;
  display: block;
  padding: 1.5rem 5rem;
  border-radius: 100px;
  background-color: #f25f3a;
  color: white;
  margin: auto;
  border: none;
  transition: 0.3s; }
  .hero button:hover {
    opacity: 0.5; }

.second {
  margin-bottom: 10rem;
  overflow-x: hidden; }
  @media (min-width: 900px) {
    .second {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 10%;
      width: 100%;
      margin-bottom: 12rem; } }

section.features {
  width: 100%; }

section.features .feature {
  padding-left: 5%; }

.feature .feature-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffefeb;
  border-radius: 25px 0 0 25px; }
  @media (min-width: 900px) {
    .feature .feature-header {
      background-color: transparent; } }

.feature-header .feature-count {
  background-color: #f25f3a;
  border-radius: 25px;
  color: #fff;
  padding: 0.4rem 1.4rem 0.5rem;
  font-weight: 500;
  margin-right: 1rem; }

.feature .feature-details {
  color: #9095a7;
  padding: 0.5rem 0 2.5rem;
  margin-left: 6rem; }

.box-details {
  color: #9095a7;
  padding: 0.5rem 0 2.5rem; }

section.features {
  width: 40%;
  padding-right: 10%; }

.statistics {
  background-color: #f0f1f6;
  padding-top: 6.5rem;
  text-align: center; }
  @media (min-width: 900px) {
    .statistics {
      padding-bottom: 7rem;
      padding-top: 8rem; } }

.statistics h2 {
  font-size: 3rem;
  margin-bottom: 2rem; }
  @media (min-width: 900px) {
    .statistics h2 {
      font-size: 4.5rem; } }

.statistics-sub {
  margin-bottom: 8rem;
  font-size: 2rem;
  color: #48556a; }
  @media (min-width: 900px) {
    .statistics-sub {
      width: 50%;
      margin: auto;
      margin-bottom: 21rem; } }

.testimonials {
  display: none; }
  @media (min-width: 900px) {
    .testimonials {
      display: block; } }

.testimonials h2 {
  text-align: center; }

.boxes {
  width: 90%;
  margin: auto; }
  @media (min-width: 900px) {
    .boxes {
      display: flex;
      width: 107%;
      margin-top: 10rem;
      margin-bottom: 18rem; } }

.box {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #ecf2f8; }
  @media (min-width: 900px) {
    .box {
      margin-right: 3rem; } }

.box-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.box-text {
  font-size: 1.6rem;
  color: #48556a;
  margin-bottom: 2.5rem; }

.image-circle {
  border-radius: 50%;
  margin: auto;
  margin-top: -6rem;
  margin-bottom: 3rem; }
  @media (min-width: 900px) {
    .image-circle {
      width: 110px; } }

.image-circle img {
  width: 100px; }

.side-box {
  display: flex; }

.side-number {
  background-color: #f25f3a;
  border-radius: 25px;
  color: #fff;
  padding: 0.4rem 1.4rem 0.5rem;
  font-weight: 500;
  margin-right: 1rem; }

.action {
  width: 100%;
  margin: auto;
  padding: 7rem 2rem;
  text-align: center;
  background-color: #f25f3a; }
  @media (min-width: 900px) {
    .action {
      display: flex;
      text-align: left;
      justify-content: space-between;
      padding: 2rem 10%; } }

.action p {
  font-size: 3rem;
  color: white;
  margin-bottom: 1.5rem; }
  @media (min-width: 900px) {
    .action p {
      font-size: 4.2rem;
      width: 60%; } }

.action button {
  background-color: #ffffff;
  color: #f25f3a;
  font-size: 2rem;
  display: block;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  margin: auto;
  border: none;
  transition: 0.3s; }
  @media (min-width: 900px) {
    .action button {
      padding: 1.5rem 3rem; } }
  .action button:hover {
    background-color: #85f0f0; }

.footer {
  background-color: #232027;
  width: 100%;
  margin: auto;
  padding: 6rem 2rem; }

.footer-container {
  width: 90%;
  margin: auto;
  text-align: center;
  max-width: 1440px; }
  @media (min-width: 900px) {
    .footer-container {
      display: flex;
      justify-content: space-between; } }

.footer-logo {
  width: 13rem; }
  @media (min-width: 900px) {
    .footer-logo {
      height: 3.8rem;
      margin-top: 4rem; } }

.footer-title {
  font-size: 1.7rem;
  color: white;
  margin-top: 4rem;
  margin-bottom: 2rem; }

.footer-item {
  font-size: 1.4rem;
  color: #48556a;
  margin-bottom: 1.3rem;
  transition: 0.3s; }
  .footer-item:hover {
    color: #f25f3a; }

ion-icon {
  font-size: 35px;
  color: #fff;
  margin-left: 1.5rem;
  transition: 0.3s; }
  ion-icon:hover {
    color: #f25f3a; }

.social {
  margin-top: 4rem; }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }

* {
  box-sizing: border-box; }

/* Slideshow container */
@media (min-width: 900px) {
  .slideshow {
    display: none; } }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f25f3a;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
